{% extends 'layouts/homelayout.html.twig' %}

{% block content %}
    <div class="content">
        <section id="renderlet-gallery">
            {{
            pimcore_renderlet('myGallery', {
                "controller" : "App\\Controller\\HomeController::myGalleryAction",
                "title" : "Drag an asset folder here to get a gallery",
                "height" : 400
            })
            }}
        </section>
        <p class="product-description">
            {{ pimcore_textarea("employee_description",{
                "nl2br": true,
                "height": 300,
                "placeholder": "Employee Description"
            }) }}
        </p>
        {#<div class="alert alert-secondary">
            <h2>{{ pimcore_input('tableheading') }}</h2>
        </div>
        {% if editmode %}
            {{ pimcore_table("employeeData", {
                "width": 700,
                "height": 1800,
                "defaults": {
                    "cols": 3,
                    "rows": 4,
                }
            }) }}
        {% else %}
            {% set data = pimcore_table("employeeData").getData() %}
            {% if data is not empty %}
                <table>
                    <tbody>
                    {% for row in data %}
                        <tr>
                            <th>{{ row[0] }}</th>
                            <td>{{ row[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No data available.</p>
            {% endif %}
        {% endif %}#}
        <div class="custom-block">
            <h2>{{ pimcore_input('ouremployees') }}</h2>
            {% if editmode %}
                {{ pimcore_relation('myblock') }}
            {% else %}
                {% set myblock = pimcore_relation('myblock').element %}
                {% for blockItem in myblock.block %}
                    <p>Name: <b>{{ blockItem.name.data }}</b></p>
                    <p>Experience: <b>{{ blockItem.number.data}}</b></p>
                    <p>Position: <b>{{ blockItem.position.data}}</b></p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="relation-table">
            {% if editmode %}
                {{ pimcore_relation('Consent') }}
            {% else %}
                {% set consent = pimcore_relation('Consent').element %}
                {{ consent.firstname }}
                {{ consent.lastname }}
                {{ consent.email }}
                {% if editmode %}
                    {{ pimcore_table("Task", {
                        "width": 700,
                        "height": 1800,
                        "defaults": {
                            "cols": 3,
                            "rows": 4,
                        }
                    }) }}
                {% else %}
                    {% set data = pimcore_table("Task").getData() %}
                    {% if data is not empty %}
                        <table>
                            <tbody>
                            {% for row in data %}
                                <tr>
                                    <th>{{ row[0] }}</th>
                                    <td>{{ row[0] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No data available.</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="structuredTable">
            {% if structuredTable is not empty %}
                <table>
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in structuredTable %}
                        <tr>
                            <td>{{ row.pimcore }}</td>
                            <td>{{ row.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No structured table data available.</p>
            {% endif %}
        </div>
    </div>
    {{ pimcore_snippet('footerSnippet') }}
{% endblock %}
