{% extends 'layouts/homelayout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="my-breadcrumbs">
            <a href="/EMS/Home">{{ 'Home'|trans }}</a> >
        </div>
        {% for i in pimcore_block('contentblock').iterator %}
            <h2>{{ pimcore_input('subline') }}</h2>
            {{ pimcore_wysiwyg('content') }}
        {% endfor %}
        <div class="ems-about">
            {{ pimcore_video('myVideo', {
                attributes: {
                    class: 'video-js vjs-default-skin vjs-big-play-centered',
                    'data-setup': '{}'
                },
                thumbnail: 'content',
                height: 380,
                width: 400,

            }) }}
        </div>
    </div>
    {{ pimcore_snippet('footerSnippet') }}
{% endblock %}