{% extends 'layouts/homelayout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="e-date">
            <h2>{{ pimcore_input('leaveTaken') }}</h2>
            <div class="leave-date">
                {{ pimcore_date('myDate', {
                    'format': 'd.m.Y',
                    'outputFormat': '%d.%m.%Y'
                })
                }}
            </div>
            <div class="e-leave">
                {{ pimcore_select('mySelect', {
                    store: [
                        ['sick-leave', 'Sick Leave'],
                        ['earn-leave', 'Earn Leave'],
                        ['paid-leave', 'Paid Leave']
                    ]
                }) }}
            </div>
            <div class="ems-sal">
                <h1>Employee Brick Data:</h1>
                {% if editmode %}
                    {{ pimcore_relation('mybrick') }}
                {% else %}
                    {% for mybrick in employeeBrick %}
                        <p>{{ mybrick.employee }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {{ pimcore_snippet('footerContent') }}
{% endblock %}