{% extends 'layout.html.twig' %}
{% block content %}
    <h1>{{ pimcore_input("headline", {"width": 540}) }}</h1>


    <div class="product-info">
        {% if editmode %}
            {{ pimcore_relation("movies") }}
        {% else %}
            {% set movie = pimcore_relation("movies").element %}
        {#{{ dump(movie ) }}#}
            {% if movie %}
                <h2>{{ movie.name }}</h2>
                <div class="content">
                    {% if movie.picture %}
                        {{ movie.picture.thumbnail("content").html|raw }}
                    {% endif %}
                </div>
                <div class="content">
                    {{ movie.description|raw }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}