{% extends 'layout.html.twig' %}
{% block content %}
    <h1>{{ pimcore_input("headline", {"width": 540}) }}</h1>


    <div class="product-info">
        {% if editmode %}
            {{ pimcore_relation("movies") }}
        {% else %}
            {% set product = pimcore_relation("movies").element %}
            {% if product %}
                <h2>{{ product.name }}</h2>
                <div class="content">
                    {% if product.picture %}
                        {{ product.picture.thumbnail("content").html|raw }}
                    {% endif %}
                </div>
                <div class="content">
                    {{ product.description|raw }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}